<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header text-center">
        Chatting

    </div>
    <div class="content">
        <div class="room text-center">
            <h3>List room</h3>
        </div>
        <div class="inbox text-center">
            <h3>Inbox</h3>
            <div class="box">
                
            </div>
            <div class="feedback"></div>
            <div class="form-group">
                <input type="text" class="input-group" name="name" id="name" placeholder="Name">
                <input type="text" class="input-group" name="message" id="message" placeholder="Message">
                <button class="btn btn-primary text-center" id="send">Send</button>
            </div>
            
        </div>
    </div>

    <div class="footer text-center">

        Peter Dinh
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.js"></script>
    <script>
       

    </script>
</body>
</html>